.top-show {
    width: 100vw;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    object-fit: cover;
}
.top-img {
    width: auto;
    height: auto;
}
.top-text {
    position: absolute;  
    top: 50%; /* 从顶部开始，向下偏移50% */  
    left: 50%; /* 从左侧开始，向右偏移50% */  
    transform: translate(-50%, -50%); /* 将文字自身宽高的50%进行反向偏移，实现居中 */  
    color: white; /* 文字颜色设为白色，以便在图片上清晰可见 */  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 文字阴影，增强可读性 */  
    font-size: 2em; /* 使用相对单位设置字体大小，以适应不同分辨率 */  
    text-align: center; /* 文字居中显示 */  
}
.top-profile {
    margin: auto;
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    background-color: #a0fff9;
    overflow: hidden; 
}
.top-profile-img {
    width: 98%;
    height: 98%;
    background-color: #a0fff9;
    border-radius: 9999px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
    object-fit: cover;
}

/* 文章css 主体+导航栏*/
@media screen and (max-width: 2880px) {
    
}
.bottom-show {
    display: flex;  
    align-items: center; 
    width: 60vw;
    height: auto;
    margin-top: 20px;
    margin: auto;
    /* 阴影 */
    box-shadow:
        1.5px 1px 0.5px rgba(0, 0, 0, 0.035),
        4.1px 2.6px 1.4px rgba(0, 0, 0, 0.05),
        9.9px 6.3px 3.3px rgba(0, 0, 0, 0.065),
        33px 21px 11px rgba(0, 0, 0, 0.1);
}
.nav-column {
     /* TODO 到某个位置再触发修改为fixed */  
    position: fixed;  
    left: 0;
    transition: transform 0.5s ease;
}
nav-column.active {  
    transform: translateX(0); /* 滑入视口 */  
  } 

.fixedNav {  
    position: fixed;  
    top: 200px;  
    width: 100%;  
    /* 其他需要的样式 */  
  }
